<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
</head>
<body>
<h1>Cinemas</h1>
<a href="/">to homepage</a>
<a href="/cinemas/newCinema">new</a>
<table>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th></th>
    </tr>
    {{#cinemas}}
    <tr>
        <td><a href="/cinemas/{{id}}">{{name}}</a></td>
        <td>{{address}}</td>
        <td><a href="/cinemas/del/{{id}}">delete</a></td>
    </tr>
    {{/cinemas}}
</table>
</body>
</html>
