<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
</head>
<body>
<form action="/" method="POST">
    <input type="text" placeholder="name" name="name" value={{cinema.name}}>
    <input type="text" placeholder="address" name="password" value={{cinema.address}}>
    <input type="text" placeholder="longitude" name="longitude" value={{cinema.coordinates.longitude}}>
    <input type="text" placeholder="latitude" name="longitude" value={{cinema.coordinates.latitude}}>
    <button type="submit">Submit</button>
</form>
</body>
</html>
