<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
</head>
<body>
<header>
    <h1>Cinema</h1>
</header>
<div id="content">
    <a src="/users">Users</a>
    <a src="/users">Cinemas</a>
    <a src="/users">Movies</a>
    <a src="/users">Users</a>
</div>
</body>
</html>