<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
</head>
<body>
<h1>Seance</h1>
<a href="/seances">Back</a>
<form action="/seances/{{seance.id}}" method="POST">
    <input type="text" hidden placeholder="date" name="date" value={{seance.date}}>

    <input type="date" placeholder="date" name="date" value={{seance.date}}>
    <select name="movieId" required>
        {{#movies}}
        <option value="{{id}}" selected="{{seance.movieId === id}}">{{name}}</option>
        {{/movies}}
    </select>
    <select name="cinemaId" required>
        {{#cinemas}}
        <option value="{{id}}" selected="{{seance.cinemaId === id}}" >{{name}}</option>
        {{/cinemas}}
    </select>
    <input type="number" placeholder="ticketCount" name="ticketCount" value={{seance.ticketCount}}>
    <input type="submit">Submit</input>
</form>
</body>
</html>

