<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinemas</title>
</head>
<body>
<h1>Seances</h1>
<a href="/">to homepage</a>
<a href="/seances/newSeance">new</a>
<table>
    <tr>
        <th>Date</th>
        <th>Ticket count</th>
        <th>Cinema</th>
        <th>Movie</th>
        <th></th>
    </tr>
    {{#seances}}
    <tr>
        <td><a href="/seances/{{id}}">{{date}}</a></td>
        <td>{{ticketCount}}</td>
        <td>{{cinema}}</td>
        <td>{{movie}}</td>
        <td><a href="/seances/del/{{id}}">delete</a></td>
    </tr>
    {{/seances}}
</table>
</body>
</html>

